################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Asp.NetCore.BookStore/.vs/Asp.NetCore.BookStore
/Asp.NetCore.BookStore/obj
